body {
    overflow-x: hidden;
}

.navContent
{
    margin-top: -10px;
    margin-left: -10px;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;
    padding-bottom: -100px;
}
.navImg img
{
    margin-left: 20px;
    height: 10vh;
    width: 5vw;
}
.searchBar
{
   border-radius: 60px;
    margin-left: 350px;
}

.searchBar input
{
    border-radius: 60px;
    padding: 15px 180px;
}
.navItems ul
{
    display: flex;
    justify-content: space-around
}

.navItems ul li:first-child
{
    margin-left: 30px;
}
 .navItems ul li
 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 2px solid black;
    padding: 2px 15px;
    border-radius: 30px;
    margin: 20px;
 }
 .navItems ul li:hover
{
    transform: scale(1.1);
    translate: transform 0.3s ease-in-out ;
}

.bar
{
    margin-left: 300px;
    margin-top: 10px;
    border: 5px solid black;
    width: 60vw;
    height: 15vh;
    border-radius: 30px;
    background-color: rgb(17, 0, 255);
}
.bar ul 
{
    padding: 20px;
    display: flex;
}
.bar ul li 
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin-top: -20px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 0);
    height: 10vh;
    width: 10vw;
    padding: 1px;
}
.bar ul li:hover
{
    transform: scale(1.1);
    transition: transform 0.3 ease-in-out;
    cursor: pointer;
}
.bar ul li img
{
    height: 7vh;
}
.panel
{
    margin-left: 250px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65.5vw;
    height: 72vh;
    border: 2px solid rgb(0, 0, 0);
    font-weight: bold;
}

.pantxt

{
    fill-opacity: 0px;
    text-align: center;
    color: aliceblue;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black
}
.flat
{
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.video
{
    position: absolute;
    top: 340px;
    width: 800vw;
    height: 71.5vh;
    z-index: -1;
}
.h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    font-size: xxx-large;
    border: 2px solid rgb(255, 255, 255);
}
.h3:hover
{
    color: blue;
    text-decoration: none;
}
.offer
{
    position: absolute;
    left: 680px;
    font-size: xx-large;
    color: white;
}
.offer:hover
{
    transform: scale(1.1);

}
.panel1
{
    margin-top: 20px;
    margin-left: 330px;
    height: 20vh;
    width: 55vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue ;
}

.panel1 .paneli ul li:first-child,
.panel1 .panele ul li:first-child
{
    margin-top: 20px;
}

.panel1 .paneli ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 250px;
    margin: 5px;
    margin-left: -40px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    background-color: yellow;
}
.panel1 .panele ul li
{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 2px solid black;
    width: 300px;
    margin: 5px;
    margin-left: 200px;
    border-radius: 10px;
    font-weight: bold;
    background-color: yellow;
    
}
.panel1 .paneli ul li:hover,
.panel1 .panele ul li:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.show
{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 30px;
    height: 100vh;

}
.show .top,
.show .bottom
{
    display: flex;

}

.show .top .cards,
.show .bottom .cards1
{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    margin: 5px;
    height:45vh;
    width: 20vw;
    border: 2px solid black;
    border-radius: 30px;
}
/* 
.show .bottom .cards1
{
    margin-top: 2px;
    display: flex;
    align-items: center ;
    justify-content: center;
    height:24vh;
    width: 20vw;
    border: 2px solid black;
} */
.show .top .cards img,
.show .bottom .cards1 img
{
    border-radius: 20px;
}
.show .top .cards h3,
.show .bottom .cards1 h3
{
    margin-top: 35px;
    font-size: large;
}

.show .top .cards p,
.show .bottom .cards1 p
{
    text-align: center;
    font-size: larger;
}
.show .top .cards div,
.show .bottom .cards1 div
{
    border: 3px solid black;
    padding:10px;
    width: 15vw;
    border-radius: 10px;
    text-align: center;
}

.show .top .cards:hover,
.show .bottom .cards1:hover,
.show .top .cards div:hover,
.show .bottom .cards1 div:hover
{
    transform: scale(1.04);
}
.divi
{
    display: flex;
    margin-left: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    width: 30vw;
    color: rgb(251, 255, 0);
    background-color: rgb(0, 21, 255);
    border: 4px solid black;
    font-weight:bolder;
    font-size: xxx-large;
}
.MobileSec
{
    display: flex;
}
.MobileAd
{
    display: inline-block;
    margin-top: 80px;
    height: 55vh;
    width: 50vw;
    margin-left: -3px;
    margin-right: -1px;
    
}
.MobileAd img
{
    position: relative;
    top: -450px;
    left: 220px;
    z-index: 1;
}

.MobileAd p
{
    font-size:larger;
    z-index: 1;
    font-size:x-large;
    font-weight: bold;
    text-align:center;
    position: relative;
    top: -290px;
    color: white;
    
}
.SamsVideo
{
    position: relative;
    top: -80px;
    height: 60vh;
    width: 50vw;
    z-index: -2;
    margin-left: -10px;
}

.RedmiVideo
{
    position: relative;
    top: -80px;
    margin-left: 5px;
    height: 60vh;
    width: 50vw;
    z-index: -2;
}


.footer 
{
    display: inline-block;
    margin-top: 50px;
    margin-bottom:0px;
    background-color: black;
    color: white;
    width: 98vw;
    margin-left:-10px;
    margin-bottom: -10px;
    padding: 20px;
   
}
.footitems
{
    display: flex;

  
}

.footitem1
{
    width: 100vh;
    display: flex;
    margin-right: 20px;
    border-right: 2px solid white;
}
.searchBar
.footleft,
.footCenter,
.footCenter1
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footleft h3
{
    justify-content: center;
    align-items: center;
}
ul li
{
    list-style: none;
}
.footleft ul li,
.footCenter ul li,
.footCenter1 ul li,
.centerend ul li
{
    margin: 5px;
   
}
.footItem2
{
    display: flex;
    
}
.footItem2 .righty
{
    margin-left: 50px;
}


.social-button img:hover
{
    transform: scale(1.1);
}

